<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hangman Web</title>
    <link rel="stylesheet" href="static/gamepage.css">
</head>
<body>
    <header>
        <h1>Hangman</h1>
    </header>

    <main>
        <div class="fenetre"></div>

        <section class="ranking">
            <p><u>Best Scores</u></p>
        </section>

        <div class="container">
            <div class="row">
                <button class="cell">A</button>
                <button class="cell">Z</button>
                <button class="cell">E</button>
                <button class="cell">R</button>    
                <button class="cell">T</button>
                <button class="cell">U</button>
                <button class="cell">I</button>
                <button class="cell">O</button>
                <button class="cell">P</button>
            </div>
            
            <div class="row">
                <button class="cell">Q</button>
                <button class="cell">S</button>
                <button class="cell">D</button>
                <button class="cell">F</button>
                <button class="cell">T</button>
                <button class="cell">G</button>
                <button class="cell">H</button>
                <button class="cell">J</button>
                <button class="cell">K</button>
                <button class="cell">L</button>
                <button class="cell">M</button>
            </div>
            
            <div class="row">
                <button class="cell">.</button>
                <button class="cell">W</button>
                <button class="cell">X</button>
                <button class="cell">C</button>
                <button class="cell">V</button>
                <button class="cell">B</button>
                <button class="cell">N</button>
                <button class="cell"><img src="..\assets\backspace.png" alt="Backspace"></button>
                <button class="cell"><img src="..\assets\enter.png" alt="Enter"></button>
            </div>
        </div>
    </main>

    <footer>
        <div class="button">
            <button class="settings-button"><img src="..\assets\settings.svg" alt="Settings"></button>
        </div>
    </footer>
</body>
</html>
