<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- ... vos autres balises meta et link ... -->
    <title>HANGMAN_WEB</title>
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <input type="checkbox" class="sr-only" id="darkmode-toggle">
        <label for="darkmode-toggle" class="toggle">
            <span>Toggle dark mode</span>
        </label>
        <h1 class="rainbow-text">Bienvenue sur le HANGMAN WEB !!!</h1>
    </header>

<main>
    <div style="text-align: center; padding-top: 10%">
    <a href="test"><button class="styled">Jouer</button></a>
    <br>
    <br>
    <br>
    <button class="styled">Nouvelle partie</button>
    <br>
    <br>
    <br>
    <a href="Reglages"><button class="styled">Réglages</button></a>
</div>
</main>
    <footer>
    </footer>
</body>
</html>
