<!DOCTYPE html>
<html>
<head>
    <title>Difficulte</title>
    <link rel="stylesheet" href="static/test.css">
</head>
<header>
    <p>Choisis la difficulte</p>
</header>
<body>
    <main>
        <div class="card">
            <a href="gamepage" class="card card1"><p2>Facile</p2></a>
            <a href="gamepage" class="card card2"><p2>Moyen</p2></a>
            <a href="gamepage" class="card card3"><p2>Difficile</p2></a>
            <a href="gamepage" class="card card4"><p2>Anglais</p2></a>
            <a href="gamepage" class="card card5"><p2>Espagnol</p2></a>
        </div>
        <p2>Test</p2>
    </main>     
</body>
</html>
